*.jpg filter=lfs diff=lfs merge=lfs -text
almond_chocolate_biscotti/img/almond_chocolate_biscotti.jpg filter=lfs diff=lfs merge=lfs -text
brownie/img/brownie.jpg filter=lfs diff=lfs merge=lfs -text
cherry_chocolate_scone/img/cherry_chocolate_scone.jpg filter=lfs diff=lfs merge=lfs -text
lavender_blueberry_loaf_cake/img/lavender_blueberry_cake.jpg filter=lfs diff=lfs merge=lfs -text
lemon_cake_squares/img/lemon_cake_square.jpg filter=lfs diff=lfs merge=lfs -text
